.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 40%;
  padding: 1rem;
  margin: 10px 10px;
  border: 1.5px solid #000;
}

.header {
  text-align: center;
}